mixin item(name, link)
    a.item_link(href= link)
     .item_favicon(style=favicon + link + favicon2)
     .item_label #{name}

+item("Blend", "http://colinkeany.com/blend/")
+item("Brand Colors", "http://brandcolors.net/")
+item("Cohesive Colors", "http://javierbyte.github.io/cohesive-colors/")
+item("Color Claim", "http://www.vanschneider.com/colors/")
+item("Color Dot", "http://color.hailpixel.com/")
+item("Color Drop", "https://colordrop.io/")
+item("Color Farm", "http://color.farm/")
+item("Color Hunt", "http://colorhunt.co/")
+item("Coolors", "https://coolors.co/app")
+item("Flat UI Colors", "http://flatuicolors.com/")
+item("Gradients Party", "https://gradients.party")
+item("Hello Color", "http://jxnblk.com/hello-color/")
+item("Khroma", "http://khroma.co/")
+item("LOL Colors", "https://www.webdesignrankings.com/resources/lolcolors/")
+item("Material UI Colors", "http://materialuicolors.co/")
+item("Palet Table", "http://www.palettable.io/")
+item("Swiss Colors", "http://swisscolors.net/")
+item("Ui Gradients", "http://uigradients.com/")
