mixin item(name, link)
    a.item_link(href= link)
     .item_favicon(style=favicon + link + favicon2)
     .item_label #{name}

+item("360 Mockups","https://360mockups.com/free-mockups")
+item("Browser Frame","https://browserframe.com/")
+item("Data Matic","http://datamatic.io/#showPremium=false")
+item("Designer Mill","https://www.designermill.com/")
+item("Dribbble Curated","https://dribbble.com/ahmetsulek/buckets/453428-Curated-Mockups")
+item("Dunnnk","http://dunnnk.com/")
+item("FDR.","http://freedesignresources.net/category/free-mockups/")
+item("Go Mockups","https://gomockups.com/products/goodies-kit")
+item("Magic Mockups","http://magicmockups.com/")
+item("Mockerie","http://mockerie.io/")
+item("MocKit","http://colinkeany.com/mockit-extended/")
+item("Mockup World","https://www.mockupworld.co/all-mockups/")
+item("Mockuptime", "https://mockuptime.com/")
+item("Mockuuups Studio","https://mockuuups.studio/")
+item("Mockuuups","https://www.mockuuups.com/")
+item("Place It","https://placeit.net/")
+item("Scenery","https://www.getscenery.com/")
+item("Smart Mockups","http://smartmockups.com/")
