body {
  background: -webkit-linear-gradient(-110deg, #dea253, #e94171);
    background-background: linear-gradient(-110deg, #dea253, #e94171); }

a {
  color: #E7516C; }

.navbar {
  font-weight: 500; }

.item_favicon {
  position: absolute;
  left: 45px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  margin-top: 2px;
  text-align: center;
  line-height: 1;
  color: #fb8c00; }

.item_link {
  display: block;
  padding: 2px 13px 2px 40px; }

@media screen and (max-width: 991px) {
  .creators-nav {
    display: none; } }

.creators-bottom {
  text-align: center;
  color: #F0F0F0; }
  @media screen and (min-width: 992px) {
    .creators-bottom {
      display: none; } }
  .creators-bottom a {
    color: #FFFFFF; }

.red-heart {
  color: #E7516C; }
