mixin item(name, link)
    a.item_link(href= link)
     .item_favicon(style=favicon + link + favicon2)
     .item_label #{name}

+item("Dafont","http://dafont.com/")
+item("FFonts","http://www.ffonts.net/")
+item("Font Combinator","http://font-combinator.com/")
+item("Font Flame","http://fontflame.com/")
+item("Font Fling","http://fontfling.com/")
+item("Font Joy","http://fontjoy.com/")
+item("Font Matcherator","https://www.fontspring.com/matcherator")
+item("Font Reach","http://www.fontreach.com/")
+item("Font Squirell","https://www.fontsquirrel.com/")
+item("Fonts in use","http://fontsinuse.com/")
+item("Fonts Pair","http://fontpair.co/")
+item("Fontshop","https://www.fontshop.com/people/fontshop-team/fontlists/free-fonts")
+item("Fount","http://fount.artequalswork.com/")
+item("Glyphr Studio","http://www.glyphrstudio.com/online/")
+item("Google Fonts","https://fonts.google.com/")
+item("Lost Type","http://losttype.com/browse/")
+item("MyScriptFont","http://www.myscriptfont.com/")
+item("The League of Moveable Type","https://www.theleagueofmoveabletype.com/")
+item("Typ.io","http://typ.io/")
+item("Type Anything","https://typeanything.io/")
+item("TypeWolf","https://www.typewolf.com/")
+item("What the Font","https://www.myfonts.com/WhatTheFont/")
+item("Wordmark.it","http://www.wordmark.it/")