mixin item(name, link)
    a.item_link(href= link)
     .item_favicon(style=favicon + link + favicon2)
     .item_label #{name}

+item("Aiconica","http://aiconica.net/")
+item("Bytesize Icons","https://github.com/danklammer/bytesize-icons")
+item("CSS Icons","http://cssicon.space/")
+item("Evil Icons","http://evil-icons.io/")
+item("Feather","https://feather.netlify.com/")
+item("Flat Icon","http://www.flaticon.com/")
+item("Font Awesome","http://fortawesome.github.io/Font-Awesome/")
+item("Free Icon Shop","https://freeiconshop.com/icon/tag/free/")
+item("Free Nova Icons","http://www.webalys.com/nova/free-icons.html")
+item("Graphberry","http://www.graphberry.com/category/icons")
+item("IcoFont","http://icofont.com/")
+item("Icomoon","https://icomoon.io/")
+item("Icon Store","http://iconstore.co/")
+item("Icon8","http://icons8.com/")
+item("IconMonstr","http://iconmonstr.com/")
+item("Icono","http://saeedalipoor.github.io/icono/")
+item("Icony","http://icony.co/index.html")
+item("IonIcons","http://ionicons.com/")
+item("Material Design Icons","https://materialdesignicons.com/")
+item("Material Icons","https://material.io/icons/")
+item("Modern UI Icons","http://modernuiicons.com/")
+item("Octicons","https://octicons.github.com/")
+item("Payment Font","http://paymentfont.io/")
+item("Project Clarity Icons","https://vmware.github.io/clarity/icons/icon-sets")
+item("Simple Icons","https://simpleicons.org/")
+item("Skycons","http://darkskyapp.github.io/skycons/")
+item("The Noun Project", "http://thenounproject.com/")
+item("To Icon","http://iconstore.co/")
+item("Tilda Icons", "https://tilda.cc/free-icons/")
+item("Vivid.js", "https://webkul.github.io/vivid/")
+item("We Love Icon Font","http://weloveiconfonts.com/")
+item("Zond Icons","http://www.zondicons.com/")
