mixin item(name, link)
    a.item_link(href= link)
     .item_favicon(style=favicon + link + favicon2)
     .item_label #{name}

+item("1MillionFreePictures","http://www.1millionfreepictures.com/")
+item("ABSFreePic","http://absfreepic.com/")
+item("BaraArts","http://www.bara-art.com/")
+item("Barn Images", "http://barnimages.com/")
+item("Boss Fight","http://bossfight.co/")
+item("Burst","https://burst.shopify.com/")
+item("Camarama","http://www.camarama.de/")
+item("Cappy.co","https://www.nappy.co/")
+item("Crow The Stone","http://crowthestone.com/")
+item("Cupcake","http://cupcake.nilssonlee.se/")
+item("FancyCrave","http://fancycrave.com/")
+item("Focus Fitness","https://www.focusfitness.net/stock-photos/")
+item("Free Nature Stock","http://freenaturestock.com/")
+item("FreelyPhotos","http://freelyphotos.com/")
+item("Freerange Stock", "http://freerangestock.com/")
+item("Furious Camera","http://furiouscamera.com/")
+item("Getrefe", "http://getrefe.tumblr.com/")
+item("Glyphs","https://glyphs.co/photos")
+item("Good Stock Photos","http://goodstock.photos/")
+item("GoodFreePhotos","http://goodfreephotos.com/")
+item("Gratisography", "http://gratisography.com/")
+item("ISO Republic","http://isorepublic.com/")
+item("Iwaria","https://iwaria.com/")
+item("Jay Mantri", "http://jaymantri.com/")
+item("Jeeshots","http://jeshoots.com/")
+item("KaboomPics","http://kaboompics.com/")
+item("LargePhotos","http://www.largephotos.net/")
+item("LibreShot","http://libreshot.com/")
+item("Life Of Pix","http://www.lifeofpix.com/")
+item("Little Visuals", "http://littlevisuals.co/")
+item("Magdeleine", "http://magdeleine.co/browse/")
+item("MET Museum Artwork","http://www.metmuseum.org/art/collection/search#!/search?perPage=20&showOnly=openaccess&sortBy=Relevance&sortOrder=asc&offset=0&pageSize=0")
+item("Minimography","http://minimography.com/")
+item("MMT","http://mmtstock.com/")
+item("Moni\'s Photos","http://monisphoto.com/")
+item("morgueFile","http://morguefile.com/")
+item("Moveast", "http://moveast.me/")
+item("My Stock Photos","http://mystock.photos/")
+item("NegativeSpace","http://negativespace.co/")
+item("New Old Stocks", "http://nos.twnsnd.co/")
+item("Nobl Web","http://www.noblweb.com/")
+item("Nomad Pictures","http://nomad.pictures/")
+item("Pexels", "http://pexels.com/")
+item("PhotoStockEditor","http://photostockeditor.com/")
+item("Pic Jumbo","http://picjumbo.com/")
+item("Pic Melon","http://picmelon.com/")
+item("Picography","http://picography.co/")
+item("Pixabay", "http://pixabay.com/")
+item("Realistic Shots","http://realisticshots.com/")
+item("reSplashed","http://www.resplashed.com/")
+item("Samuel Zeller","http://archive.samuelzeller.ch/")
+item("ShotStash", "http://shotstash.com/")
+item("Shutteroo","http://shutteroo.com/")
+item("Sion.pics","http://www.slon.pics/shop/")
+item("SkitterPhoto","http://skitterphoto.com/")
+item("Skuawk","http://skuawk.com/")
+item("Snapwire Snaps","http://snapwiresnaps.tumblr.com/")
+item("Splashbase","http://www.splashbase.co/")
+item("SplitShire","http://splitshire.com/")
+item("Startup Stock Photos","http://startupstockphotos.com/")
+item("Stock Image Point","http://www.stock-image-point.com/")
+item("StockPhotosForFree","http://www.stockphotosforfree.com/")
+item("StockSnap.io","https://stocksnap.io/")
+item("StokPic","http://stokpic.com/")
+item("Superfamous Studios", "http://superfamous.com/")
+item("The British Library","https://www.flickr.com/photos/britishlibrary/")
+item("The Library of Congress","https://www.flickr.com/photos/library_of_congress/albums")
+item("The Pic Pac","https://thepicpac.com/")
+item("tookapic","http://stock.tookapic.com/?filter=free")
+item("Travel Cofee", "http://travelcoffeebook.com/")
+item("Trunklog","http://trunklog.com/")
+item("Unsplash", "http://unsplash.com")
+item("Visual Hunt", "http://visualhunt.com/")
+item("Vladimir's Collection","https://photos.google.com/share/AF1QipMqTdSXxVJsc8pVpPlwktz8XFNATPiIWX8VHYuOA_MSKfxa3J_Or5YMtOIG-4B_Bg?key=dXRMUWpDeE9zT01yRWxzY2ZEMzlSRE95UF81YWRn")
+item("XXL Stock Photos","http://xxlstockphoto.com/downloads/category/freebies/")