mixin item(name, link)
    a.item_link(href= link)
     .item_favicon(style=favicon + link + favicon2)
     .item_label #{name}

+item("Clip Canvas", "http://www.clipcanvas.com/free-footage/")
+item("Coverr", "http://www.coverr.co/")
+item("Distill", "http://www.wedistill.io/")
+item("Life Of Vids", "http://www.lifeofvids.com/")
+item("Mazwai", "http://mazwai.com/#/")
+item("Motion Elements", "http://www.motionelements.com/free/stock-footage")
+item("Pexels", "https://videos.pexels.com/")
+item("Pixabay", "https://pixabay.com/en/videos/")
+item("Pond5", "https://www.pond5.com/stock-video-footage/?free=1")
+item("Videezy", "https://www.videezy.com/")
+item("Videovo", "https://www.videvo.net/free-stock-footage/")
+item("Vidsplay", "http://www.vidsplay.com/")
+item("Vimeo Free", "https://vimeo.com/groups/freehd/")
+item("XStockvideo", "http://www.xstockvideo.com/")