include _variables

head
	meta(charset='utf-8')
	title 0swStocks
	//- link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/journal/bootstrap.min.css")
	link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
	link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
	link(rel="stylesheet" href="css/shards.css")
	link(rel="stylesheet" href="css/style.css")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")

body
	nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-3
		.container
			a.navbar-brand.mr-auto(href='#') 0swStocks
			span.nav-item.creators-nav Made with <i class="fa fa-heart-o red-heart" aria-hidden="true"></i> by <a href="https://0sw.in/" target='_blank'>0swin</a> - Available on <a href="https://github.com/0swin/Free-Graphic-Design-Stocks"><i class="fa fa-github"></i></a>
	.container.pb-5
		.row
			.col-md-4
				.card.mb-3
					.card-header Photos
					.card-body
						include _photos
			.col-md-4
				.card.mb-3
					.card-header Fonts
					.card-body
						include _fonts
				.card.mb-3
					.card-header Icons
					.card-body
							include _icons
			.col-md-4
				.card.mb-3
					.card-header Colors
					.card-body
						include _colors
				.card.mb-3
					.card-header Videos
					.card-body
						include _videos
				.card.mb-3
					.card-header Mockups
					.card-body
						include _mockups

		p.creators-bottom.text-center Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://0sw.in/" target='_blank'>0swin</a> - Available on <a href="https://github.com/0swin/Free-Graphic-Design-Stocks"><i class="fa fa-github"></i></a>

	script(type="text/javascript", src='//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
	script(type="text/javascript", src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
